.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 15vh);
}

.container > div{
    width: 10vw;
    height: 15vh;
    border: 1px solid white;
    background-color: rgb(217, 244, 215);
    font-size: 60px;
    text-align: center;
    line-height: 200%;
}

h1{
    font-size: 50px;
    align-self:center;
}

body{ 
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(148, 148, 148);
    color: white

}

.rest{
    display: flex; 
    justify-self: flex-end;
    gap: 80px;
}

form>div>input, #reset, label, form>input {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

#submit{
    background-color: green;
}

#reset, #submit{
    color:white
}

.main {
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#reset {
    font-weight: 800;
    background-color: red;
}

input:invalid:required {
    border: 2px solid rgb(251, 203, 203); 
}

input:required:invalid {
    content:'*';
}