.container{
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 28vh);
}

.container > div{
    width: 20vw;
    height: 28vh;
    border: 1px solid black;
    background-color: rgb(188, 188, 244);
    font-size: 60px;
    text-align: center;
    line-height: 400%;
}

body{ 
    display: flex;
    flex-direction: column; 
    align-items: center;
}